@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Major+Mono+Display&display=swap');


:root{
 --text-color: #B22222; 
 --headings-font:"Major Mono Display", monospace;
 --bg-color: #0D0D0D;
 font-size: 100%;

}

body {
  font-size: 16px;
  font-family: "Inconsolata", sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(30,9,115,1) 0%, rgba(4,9,255,1) 27%, rgba(9,2,231,1) 37%, rgba(40,18,240,1) 50%, rgba(255,6,74,1) 61%, rgba(190,6,49,1) 71%, rgba(111,1,1,1) 100%);
  color:#A6C8FF ;


}

a {
  color:#E0E0E0 ;
}

a:hover{
  color: #4A90E2;
}

iframe {
  max-width: 100%;
}

img {
  max-width: 100%;
}

table {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings-font);
  color: var(--text-color);
  background-color: var(--bg-color);

}

.text_left {
  text-align: left;
}

.text_center{
  text-align: center;
}

.text_right{
  text-align: right;
}

.imagen-cambio {
  position: relative;
  width: 300px; 
  height: 200px; 
}

.imagen {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease; 
  
}




table img {
  width: 500px; 
  height: auto;
}

.bg_gris {
  background-color: #1C1C1C;
}

.bg_gris_metalico{
  background-color: #3B3B3B;
}

.bg_azul_oscuro {
  background-color: #162447;
}